# Built files
/build
app/build/
build/

# Gradle files
.gradle/

# Local configuration file (sdk path etc)
local.properties

# Android Studio local files
.idea/workspace.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/deploymentTargetSelector.xml

# Log files
*.log
